.register {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(51, 98, 251);
  height: 100vh;
}

.register__window {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 500px;
  width: 100vh;
  max-width: 1200px;
  height: 100vh;
  max-height: 500px;
  margin: 70px;
  padding: 30px 50px;
  background-color: #fff;
  border-radius: 15px;
}

.register__form {
  flex: 0.5;
  padding: 0 10px;
}

.form__description {
  margin-bottom: 25px;
}

form {
  display: flex;
  flex-direction: column;
}

form > label {
  margin-bottom: 2px;
  color: rgb(85, 85, 85);
}

form > input {
  margin-bottom: 6px;
}

.register__button {
  margin-top: 15px;
  max-width: 100px;
}

.register__image {
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
